/* MobileView */

@media screen and (max-width: 480px) {
  .ContentContainer {
    padding: 7% 5% 4% 5%;
  }

  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: Roboto;
    text-align: center;
    font-size: 28px;
    letter-spacing: 0px;
    color: #7e8a8f;
    text-transform: uppercase;
  }

  .subTitle {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    text-align: center;
    letter-spacing: 0px;
    color: #cfd1d4;
    text-transform: uppercase;
  }

  .cardContent {
    width: 100%;
    height: 417px;
    background: transparent linear-gradient(180deg, #2d3442 0%, #161b25 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #000000a3;
    border-radius: 21px;
    margin-top: 2rem;
  }

  .headerButtonText {
    font-family: "Open Sans", Helvetica;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
  }

  .headerButtons {
    width: 100% !important;
    height: 44px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 22px !important;
    z-index: 0;
    background: transparent !important;
    overflow: hidden;
    border: 2px solid #ffffff !important;
    color: #4d759c;
    margin-top: 1rem;
  }

  .headerButtons:hover {
    color: #fff;
  }

  .headerButtons:hover:after {
    width: 100%;
  }

  .headerButtons:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #212529;
  }


  .addressLink {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-family: Open Sans;
    text-align: center;
    letter-spacing: 0px;
    color: #cfd1d4;
    text-decoration: none;
    margin-top: 1rem;
  }

  .vehicleLink {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-family: Open Sans;
    text-align: center;
    letter-spacing: 0px;
    color: #cfd1d4;
    text-decoration: none;
  }

  .serviceTitle {
    font-style: normal;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0px;
    color: #cfd1d4;
    opacity: 1;
    text-align: center;
    margin-top: 1rem;
  }

}

/* Tablet View */

@media screen and (max-width: 768px) {
  .ContentContainer {
    padding: 7% 5% 4% 5%;
  }

  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    font-family: Roboto;
    text-align: left;
    font-size: 28px;
    letter-spacing: 0px;
    color: #7e8a8f;
    text-transform: uppercase;
    margin-top: 2rem;
  }

  .subTitle {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    text-align: left;
    letter-spacing: 0px;
    color: #cfd1d4;
    text-transform: uppercase;
  }

  .cardContent {
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(180deg, #2d3442 0%, #161b25 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #000000a3;
    border-radius: 21px;
    margin-top: 2rem;
  }

  .headerButtonText {
    font-family: "Open Sans", Helvetica;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
  }

  .headerButtons {
    width: 100% !important;
    height: 44px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 22px !important;
    z-index: 0;
    background: transparent !important;
    overflow: hidden;
    border: 2px solid #ffffff !important;
    color: #4d759c;
    margin-top: 1rem;
  }

  .headerButtons:hover {
    color: #fff;
  }

  .headerButtons:hover:after {
    width: 100%;
  }

  .headerButtons:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #212529;
  }


  .addressLink {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-family: Open Sans;
    text-align: center;
    letter-spacing: 0px;
    color: #cfd1d4;
    text-decoration: none;
    margin-top: 1rem;
  }

  .vehicleLink {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-family: Open Sans;
    text-align: center;
    letter-spacing: 0px;
    color: #cfd1d4;
    text-decoration: none;
  }

  .serviceTitle {
    font-style: normal;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0px;
    color: #cfd1d4;
    opacity: 1;
    text-align: center;
    margin-top: 1rem;
  }

  .heroImage {
    width: 38px;
    height: 39px;
    transition-duration: 0.5s;
    margin: 30px auto 60px;
    padding: 4px;
  }

  .heroImage:hover {
    transform: rotate(180deg);
  }
}

/* Tablet & Mobile View */

@media screen and (min-width: 991px) {}

/* Desktop View */

@media screen and (min-width: 992px) {
  .ContentContainer {
    padding: 7% 2% 6% 2%;
    height: 766px;
  }

  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: Roboto;
    text-align: left;
    font-size: 28px;
    letter-spacing: 0px;
    font-weight: bold;
    color: #7e8a8f;
    text-transform: uppercase;
    margin-top: 4rem;
    opacity:1;
  }

  .subTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    font-family: "Roboto", sans-serif;
    text-align: left;
    letter-spacing: 0px;
    color: #cfd1d4;
    text-transform: uppercase;
    opacity: 1;
  }

  .serviceTitle {
    font-style: normal;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0px;
    color: #cfd1d4;
    opacity: 1;
    text-align: center;
  }

  .cardContent {
    width: 90%;
    height: 417px;
    background: transparent linear-gradient(180deg, #2d3442 0%, #161b25 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #000000a3;
    border-radius: 21px;
    margin-left: 4rem;
  }

  .headerButtonText {
    font-family: "Open Sans", Helvetica;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
  }

  .headerButtons {
    width: 100% !important;
    height: 44px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 22px !important;
    z-index: 0;
    background: transparent !important;
    overflow: hidden;
    border: 2px solid #ffffff !important;
    color: #4d759c;
    margin-top: 3rem;
  }

  .headerButtons:hover {
    color: #fff;
  }

  .headerButtons:hover:after {
    width: 100%;
  }

  .headerButtons:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #212529;
  }

  .addressLink {
    font-style:normal;
    font-weight:normal;
    font-size:16px;
    font-family:Open Sans;
    text-align: center;
    letter-spacing: 0px;
    color: #cfd1d4;
    text-decoration: none;
    margin-top: 1rem;
  }

  .vehicleLink {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-family: Open Sans;
    text-align: center;
    letter-spacing: 0px;
    color: #cfd1d4;
    text-decoration: none;
  }

  .ServiceLabels {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    font-family: Open Sans;
    text-align: center;
    letter-spacing: 0px;
    color: #adb5b9;
  }

  .ServicedatetimeLabels {
    font-style:normal;
    font-weight:normal;
    font-size:13px;
    font-family:Open Sans;
    text-align: center;
    letter-spacing: 0px;
    color: #adb5b9;
  }

  .heroImage {
    width: 38px;
    height: 39px;
    transition-duration: 0.5s;
    margin: 30px auto 60px;
    padding: 0px;
  }

  .heroImage:hover {
    transform: rotate(180deg);
  }
}