.Container{
    padding: 5% 5% 5% 5%;
    background-color: #0c1017;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    color: #cfd1d4;
    font-size: 48px;
    text-align: center;
    font-family: "Open Sans", "Helvetica Neue", Helvetica,
}

.BacktoLink{
    color: #cfd1d4;
    text-decoration: none;
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    font-size: 14px;
    margin-left:4rem;
    justify-content: center;
}