/* MobileView */

@media screen and (max-width: 480px) {
  .ContentContainer{
    padding: 7% 5% 4% 5%;
  }

  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0px;
    color: #7e8a8f;
    text-transform: uppercase;
  }

  .subTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    font-family: Montserrat;
    text-align: left;
    letter-spacing: 0px;
    color: #cfd1d4;
  }

  .description {
    font-style:normal;
    font-weight:normal;
    font-size:14px;
    font-family:Open Sans;
    text-align: left;
    letter-spacing: 0px;
    color: #b5b8b9;
  }

  .contentTitle{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0px;
    color: #CFD1D4;
  }

  .contentDescription{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-family: Open Sans;
    text-align: left;
    letter-spacing: 0px;
    color: #B5B8B9;
  }

  .FocusedTitle{
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    font-family: Montserrat;
    text-align: left;
    letter-spacing: 0px;
    color: #CFD1D4;
  }

  .focuseddescription{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-family: Open Sans;
    text-align: left;
    letter-spacing: 0px;
    color: #B5B8B9;
  }

  .savingOneOption{
    margin-top:1.8rem;
  }

  .savingtwoOption{
    margin-left:3.5rem;
    margin-top:1.1rem;
}

  .Text{
      margin-top:1.8rem;
  }

  .optiontwo{
    margin-top:1.8rem;
  }

  .icons{
    margin-top:1.8rem;
  }
}

/* Tablet View */

@media screen and (max-width: 991px) {
  .ContentContainer{
    padding: 7% 5% 4% 5%;
  }

  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0px;
    color: #7e8a8f;
    text-transform: uppercase;
  }

  .subTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    font-family: Montserrat;
    text-align: left;
    letter-spacing: 0px;
    color: #cfd1d4;
  }

  .description {
    font-style:normal;
    font-weight:normal;
    font-size:12px;
    font-family:Open Sans;
    text-align: left;
    letter-spacing: 0px;
    color: #b5b8b9;
  }

  .contentTitle{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0px;
    color: #CFD1D4;
  }

  .contentDescription{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-family: Open Sans;
    text-align: left;
    letter-spacing: 0px;
    color: #B5B8B9;
  }

  .FocusedTitle{
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    font-family: Montserrat;
    text-align: left;
    letter-spacing: 0px;
    color: #CFD1D4;
  }

  .focuseddescription{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-family: Open Sans;
    text-align: left;
    letter-spacing: 0px;
    color: #B5B8B9;
  }

  .savingOneOption{
    margin-top:1.8rem;
  }

  .savingtwoOption{
    margin-left:3.5rem;
    margin-top:1.1rem;
}

  .Text{
      margin-top:1.8rem;
  }

  .optiontwo{
    margin-top:1.8rem;
  }

  .icons{
    margin-top:1.8rem;
  }
}

/* Tablet & Mobile View */

@media screen and (min-width: 991px) {
}

/* Desktop View */

@media screen and (min-width: 992px) {
  .ContentContainer {
    padding: 7% 0% 6% 0%;
    height: 1366px;
  }

  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0px;
    color: #7e8a8f;
    text-transform: uppercase;
  }

  .subTitle {
    font-style: normal; 
    font-weight: bold;
    font-size: 38px;
    font-family: Montserrat;
    text-align: left;
    letter-spacing: 0px;
    color: #cfd1d4;
  }

  .description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-family: Open Sans;
    text-align: left;
    letter-spacing: 0px;
    color: #b5b8b9;
  }

  .contentTitle{
    font-style:normal;
    font-weight:normal;
    font-size:20px;
    font-family:Roboto;
    text-align: left;
    letter-spacing: 0px;
    color: #CFD1D4;
  }

  .contentDescription{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-family: Open Sans;
    text-align: left;
    letter-spacing: 0px;
    color: #B5B8B9;
    width:70%;
    margin-left:2.5rem;
  }

  .FocusedTitle{
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    font-family: Montserrat;
    text-align: left;
    letter-spacing: 0px;
    color: #CFD1D4;
  }

  .focuseddescription{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    font-family: Open Sans;
    text-align: left;
    letter-spacing: 0px;
    color: #B5B8B9;
    width:70%;
  }

  .savingOneOption{
    margin-top:1.8rem;
  }

  .savingtwoOption{
    margin-left:3.5rem;
    margin-top:1.1rem;
}

  .Text{
      margin-top:1.8rem;
  }

  .optiontwo{
    margin-top:1.8rem;
  }

  .icons{
    margin-top:1.8rem;
  }
  
  .BuildingImage{
    width:751px;
    height:450px;
    margin-left:8.5rem;
  }
}
