/* MobileView */

@media screen and (max-width: 480px) {
  .ContentContainer {
    padding: 7% 4% 4% 4%;
  }

  .aboutTitle {
    font-style: normal;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    text-align: left;
    letter-spacing: 0px;
    color: #CFD1D4;
  }

  .AboutusSectionInfo {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    letter-spacing: 0px;
    color: #B5B8B9;
    margin-left:1rem;
  }

  .aboutServiceTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 47px;
    text-align: left;
    letter-spacing: 0px;
    color: #CFD1D4;
  }

  .AboutusSerivceInfo {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0px;
    color: #B5B8B9;
  }
}

/* Tablet View */
@media screen and (max-width: 991px) {
  .ContentContainer {
    padding: 7% 4% 4% 4%;
  }

  .aboutTitle {
    font-style: normal;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    text-align: left;
    letter-spacing: 0px;
    color: #CFD1D4;
  }

  .AboutusSectionInfo {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    letter-spacing: 0px;
    color: #B5B8B9;
  }

  .aboutServiceTitle {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0px;
    color: #CFD1D4;
  }

  .AboutusSerivceInfo {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0px;
    color: #B5B8B9;
    margin-left: 2rem;
  }
}

/* Desktop View */

@media screen and (min-width: 992px) {
  .ContentContainer {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    padding: 4% 0% 4% 0%;
  }

  .aboutTitle {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 38px/47px Montserrat;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal bold 38px/47px Montserrat;
    letter-spacing: 0px;
    color: #cfd1d4;
  }

  .AboutusSectionInfo {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) / 26px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-b5b8b9);
    text-align: left;
    font: normal normal normal 14px/26px Open Sans;
    letter-spacing: 0px;
    color: #b5b8b9;
  }

  .aboutServiceTitle {
    font: var(--unnamed-font-style-normal) normal medium 20px/47px Roboto;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    letter-spacing: 0px;
    color: #cfd1d4;
    font-size: 27px;
    font-style: normal;
  }

  .AboutusSerivceInfo {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) / 26px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-b5b8b9);
    text-align: left;
    font: normal normal normal 14px/26px Open Sans;
    letter-spacing: 0px;
    color: #b5b8b9;
  }
}